* {
    background-color: #fefae0;
    font-family: "Verdana", "Tahoma", sans-serif;
}

h1 {
    text-align: center;
    background-color: #d4a373;
    color: #faedcd;
    font-weight: 800;
    font-size: 50px;
    width: fit-content;
    padding: 8px;
    border: 8px solid;
    margin: 0 auto;
    margin-bottom: 20px;

}

h2 {
    background-color: #d4a373;
    color: #faedcd;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    width: fit-content;
    margin: 20px auto;
    border: 6px solid;

}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    border: 3px double #d4a373;
    width: 1000px;
}

.main {
    text-align: center;
    padding: 0;
}

.link {
    font-weight: 800;
    color: #000;
    text-align: center;
    font-size: 28px;
    display: inline-block;
    padding: 40px;
    border: 6px solid #d4a373;
    margin: 0 100px;

}

.back {
    font-size: 20px;
    font-weight: 800;
    color: #000;
    text-align: center;
    width: fit-content;
    display: block;
    border: 6px solid #d4a373;
    margin: 0 auto;
}



#steak {
    height: 600px;
    width: 1100px;
    margin: 0 auto;
    display: block;
}